- if user_signed_in?
  .row
    .col-md-3
    .col-md-6
      =link_to(new_topic_path) do
        %button.btn.btn-primary.btn-lg.btn-block(type="button") New Topic!
    .col-md-3
.row
  .col-md-2
  .col-md-8
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
          %th #
          %th Title
          %th Description
          %th.editcolumn
      %tbody
        -@topics.each do |topic|
          %tr
            %td
              -if user_signed_in?
                - show_plus = true
                - topic.votes.each { |topic| show_plus = false if topic.user_id == current_user.id }
                - if show_plus
                  =link_to create_vote_path(topic_id: topic.id), method: :post do
                    %span.glyphicon.glyphicon-plus-sign
                - if !show_plus
                  =link_to delete_vote_path(topic_id: topic.id), method: :delete do
                    %span.glyphicon.glyphicon-minus-sign
            %td
              %a{:href => topic_path(topic)}
                .cell= topic.id
            %td
              %a{:href => topic_path(topic)}
                .cell=topic.title
            %td
              %a{:href => topic_path(topic)}
                .cell= topic.description
            %td.editcolumn
              - if topic.creator == current_user
                =link_to edit_topic_path(topic) do
                  %span.glyphicon.glyphicon-pencil.floatright
                %span.floatright &nbsp &nbsp
                =link_to topic_path(topic), :method => :delete do
                  %span.glyphicon.glyphicon-trash.floatright
                -#=link_to "Delete", topic_path(topic), :method => :delete, :class => "btn btn-danger", :type => "button"
  .col-md-2