- if user_signed_in?
  .row
    .col-md-2
    .col-md-2
      =link_to(new_topic_path) do
        %button.btn.btn-primary.btn-block(type="button") New Topic!
    .col-md-3
    .col-md-3
      =form_tag(topics_path, method: :get, role: "Search") do
        .input-group
          %span.input-group-addon.glyphicon.glyphicon-search
          =text_field_tag(:search_value, value_search(params), placeholder: "Search", class: "form-control")
          %span.input-group-btn
            =submit_tag("Submit", class: "btn btn-default")
    .col-md-2
.row
  .col-md-2
  .col-md-8
    %table.table.table-striped.table-hover.sortable
      %thead
        %tr
          %th{:"data-defaultsort" => 'disabled'}
          %th{:"data-defaultsort" => 'disabled'}
          %th.votecolumn Votes
          %th Title
          %th.creatorcolumn Creator
          %th.editcolumn{:"data-defaultsort" => 'disabled'}
      %tbody
        -@topics.each do |topic|
          %tr
            %td.votecolumn
              -if user_signed_in?
                - plus_glyph_class = already_voted?(topic) ? "invisible" : ""
                =link_to votes_path(topic_id: topic.id), :class => plus_glyph_class, :method => :post do
                  %span.glyphicon.glyphicon-plus-sign
            %td.votecolumn
              - minus_glyph_class = already_voted?(topic) ? "" : "invisible"
              =link_to vote_path(topic_id: topic.id), method: :delete , class: minus_glyph_class do
                %span.glyphicon.glyphicon-minus-sign
            %td.votecolumn
              %a{:href => topic_path(topic)}
                .cell= topic.votes.count
            %td
              %a{:href => topic_path(topic)}
                .cell=topic.title
              - topic.tags.each do |tag|
                =link_to(tag_path(tag)) do
                  %span.label.label-default.pull-right= tag.name
            %td.creatorcolumn
              %a{:href => topic_path(topic)}
                .cell= topic.creator.username
            %td.editcolumn
              - if topic.creator == current_user
                =link_to edit_topic_path(topic) do
                  %span.glyphicon.glyphicon-pencil.pull-right
                %span.pull-right &nbsp &nbsp
                =link_to topic_path(topic), :method => :delete do
                  %span.glyphicon.glyphicon-trash.pull-right
  .col-md-2