input[type="submit"] {
    /*border: 0;*/
    /*padding: 0;*/
    /*background-color: inherit;*/
    float:right;
}

/*add some large to large block buttons*/
.btn-block {
    margin-bottom: 20px;
}

.cell {
    width: 100%;
    height: 100%;

}


.floatright {
    float: right;
}
