// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="submit"] {
  /*border: 0;*/
  /*padding: 0;*/
  /*background-color: inherit;*/
  float:right;
}

/*add some large to large block buttons*/
.btn-block {
  margin-bottom: 20px;
}

.cell {
  width: 100%;
  height: 100%;
  display: inline;
}

.creatorcolumn {
  width: 17%;
}

.editcolumn {
  width: 8%;
}
.votecolumn {
  width: 4%;
}

.glyphicon:hover {
  color: #3971c1;
}

.tag {
  margin: 1%;
}

#user_avatar {
  display:inline;
}

#profile_thumbnail {
  display: inline;
}

.thumbnail {
  margin-bottom: 0;
}
